# Server Port
PORT=5001

# Client Application URL (for CORS)
CLIENT_URL=http://localhost:5174

# Supabase Configuration
# Obtain these from your Supabase project settings -> API
SUPABASE_URL=https://ohmodczcyvtpqrzqnrar.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9obW9kY3pjeXZ0cHFyenFucmFyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTkxNzQyNywiZXhwIjoyMTA1NDkzNDI3fQ.PJ15OE1bxAlG8-OF_aijzHlmXg5712CRY2KC-LR3oNA

# Secret token to authorize external cron jobs (e.g., cron-job.org)
CRON_SECRET=tusharjaiman!@$%612005

# Target Mock Store Base URL
MOCK_STORE_URL=https://demo.inelabteamdev.com

# Scraper Settings
DEFAULT_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"

